[submodule "pages/SchoolSoft-redesigned"]
	path = pages/SchoolSoft-redesigned
	url = https://github.com/helagro/SchoolSoft-redesigned.git
[submodule "pages/vocabulary-sorter-website"]
	path = pages/vocabulary-sorter-website
	url = https://github.com/helagro/vocabulary-sorter-website.git
[submodule "pages/psychic-website-collaboration"]
	path = pages/psychic-website-collaboration
	url = https://github.com/helagro/psychic-website-collaboration.git
[submodule "pages/web2-solo-project-2"]
	path = pages/web2-solo-project-2
	url = https://github.com/helagro/web2-solo-project-2.git
