:root{
    --lightGray: #cfcfcf;
    --darkGray: #222;
}

.title{
    text-align: center;
}

.projectsContainer{
    column-gap: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2em auto;
    float: center;
    max-width: 120em;
    row-gap: 2em;
}

.projectItem{
    border: 0.1em solid var(--darkGray);
    border-radius: 1em;
    color: var(--darkGray);
    padding: 0 1em 1em 1em;
    text-align: center;
}

