.flow{
    background-color: var(--background1);
    border: var(--definer-color) 1px solid;
    display: grid;
    grid-template-rows: var(--big-component-height) auto;
    height: 700px;
    max-height: 85%;
    text-align: center;
}

.flow h2{
    align-items: center;
    box-shadow: 0 1.6px 3px var(--shadow-color);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    letter-spacing: 1.5px;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}

.flow-box{
    display: grid;
    overflow-y: auto;
    width: 100%;
}

.flow-item{
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    width: 100%;  
}

.flow-item p{
    letter-spacing: 0.4px;
}

.flow-item a{
    color: #151b17;
}

.flow-item:nth-child(odd) {
    background-color: var(--green);   
}
