.schedule{
    background-color: white;
    border: 1px var(--definer-color) solid;
    height: auto;
    min-height: 0 !important;
}


/* ANCHOR week day select */
.days_links{
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-template-columns: repeat(6, auto);
    height: var(--big-component-height);
    width: 100%;
}
.days_links label{
    align-items:center;
    border: .5px var(--definer-color) solid;
    border-top: none;
    display: flex;
    justify-content: center;
}
.days_links label:first-child{
    border-left: none;
}
.days_links label:last-child{
    border-right: none;
}
.day_radio{
    display: none;
}
.day_radio + p{
    margin: 0;
    pointer-events: none;
}
.day_radio:checked + p{
    text-decoration: underline;
}


/* ANCHOR week selector */
#week_select_checkbox{
    display: none;
}
#week_select_label{
    background-color: #eee;
    display: flex;
    justify-content: center;
    text-align: center;
}
#week_select_label *{
    margin: 5px;
}
#week_select_label p{
    margin-right: 0;
}
#week_select_label .down{
    margin-top:2px;
}


/* ANCHOR day info */
#day_display{
    margin-left: 30px;
}


/* ANCHOR schedule table */
#schedule_table{   
    display: grid;
    grid-auto-rows: 70px;
    grid-template-columns: 50px 1fr;
    height: auto;
}
.time_column {
    border: 1px var(--definer-color) solid;
    border-style: solid solid none none;
    grid-column: 1;
    text-align: center;
}
.time_column h4{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: 300;
    margin: 0 auto;
    padding: 0 3px;
    transform: translateY(-50%);
    width: min-content;
}
.schedule_divider{
    border-bottom: 1px var(--definer-color) solid;
    grid-column: 2;
}
.empty_schedule{
    font-family: 'Raleway', sans-serif;
    grid-column: 1 / span 2;
    text-align: center;
    font-size: 17px;
}


/* ANCHOR schedule item */
.schedule_item{
    align-items: baseline;
    background-color: var(--blue);
    column-gap: 10px;
    display: grid;
    grid-auto-columns: auto min-content min-content auto;
    grid-column: 2;
    grid-template-rows: 100%;
    overflow: auto;
    position: relative;
}



.schedule_item *{
    grid-row: 1;
    margin: auto 0;
}

.schedule_item p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}
.schedule_item *:first-child{
    margin-left: auto;
}

.two_row_schedule_item{
    grid-template-rows: auto auto;
    grid-auto-columns: auto min-content auto;
}

.two_row_schedule_item h3{
    grid-column: 2;
    margin: auto 0 0 0 !important;
}
.two_row_schedule_item p{
    grid-row: 2;
    margin-top: 0 !important;
}
.two_row_schedule_item p:first-of-type{
    margin-left: auto !important;
}
.two_row_schedule_item p:last-child{
    float: left;
    margin-right: auto !important;
}


@media (min-width: 580px){
    #schedule_table{   
        grid-template-columns: 70px auto;

    }
    .time_column h4{
        font-size: 17px;
    }
    .schedule_item p{
        font-size: 16px !important;
    }
}